@page
@using System.Security.Claims;
@model Leap_Year.Pages.IndexModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>LeapYear</h4>
<hr />
<d1 class="row">
    <th>
        @Html.DisplayNameFor(model => model.LeapYear.IdAddress)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.LeapYear.EmailAddress)
    </th>
</d1>
